<div class="footer">
  <h2>{{ video?.userName || '' }}</h2>

  <!-- Description logic -->
  <div class="description">
    <!-- If expanded, show full description; otherwise, show first 100 characters with "..." -->
    {{ isExpanded 
        ? (video?.description || '') 
        : ((video?.description?.slice(0, 100) || '') + (video?.description?.length > 100 ? '...' : '')) 
    }}
  </div>

  <!-- More/Less button only when description length is more than 100 -->
  <div class="toggle-more" *ngIf="showToggleButton">
    <a (click)="toggleDescription()">{{ isExpanded ? 'Less' : 'More' }}</a>
  </div>

</div>
<div class="footer-title">
  <span>{{ title }}</span>
</div>