<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
        <div class="ion-text-center username">
          <ion-text>{{ userProfile.username }}</ion-text>
        </div>
    <ion-buttons slot="end" *ngIf="userProfile?.isLoggedInUser">
      <ion-button fill="clear">
        <a routerLink="/settings-and-privacy">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </a>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="ion-padding-vertical container" *ngIf="!isLoading">
    <ion-grid fixed>
      <ion-row class="ion-no-padding">
        <ion-col size="3">
          <ion-avatar class="avatar">
            <img [src]="userProfile.imageUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'" 
                 alt="User Profile Image" class="image-round" />
          </ion-avatar>      
        </ion-col>
        <ion-col size="3" class="m-auto">
          <div class="ion-text-center">
            <span><strong>{{ userProfile.challengeCount }}</strong></span> <br />
            <small>challenges</small>
          </div>
        </ion-col>
        <ion-col size="3" class="m-auto">
          <div class="ion-text-center clickable-div" (click)="GoToFollows(userProfile.username, 'followers')">
            <span><strong>{{ userProfile.followersCount }}</strong></span> <br />
            <small>followers</small>
          </div>
        </ion-col>
        <ion-col size="3" class="m-auto">
          <div class="ion-text-center clickable-div" (click)="GoToFollows(userProfile.username, 'following')">
            <span><strong>{{ userProfile.followingCount }}</strong></span> <br />
            <small>following</small>
          </div>
        </ion-col>
        <ion-col size="6">
            <ion-text class="info">{{ userProfile.firstName }} {{userProfile.lastName}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text class="info">{{ userProfile.description }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top" *ngIf="userProfile.websiteUrl != null">
        <ion-col size="6">
          <ion-text class="info underline" (click)="openExternalUrl()">
            <ion-icon name="link-outline"></ion-icon> {{ userProfile.websiteUrl }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="userProfile?.isLoggedInUser" class="btn-edit ion-text-center mt-2">
      <ion-button color="medium" fill="outline" size="small" expand="block" (click)="goToEdit()">Edit Profile</ion-button>
    </div>
    <div *ngIf="userProfile && !userProfile.isLoggedInUser" class="btn-edit ion-text-center">
      <ion-grid fixed>
        <ion-row class="ion-no-padding">
          <ion-col size="12">
            <ion-button color="secondary" fill="solid" size="small" *ngIf="!isFollowing" (click)="postFollow()" expand="block">Follow</ion-button>
            <ion-button color="secondary" fill="outline" size="small" *ngIf="isFollowing" (click)="postFollow()" expand="block">Unfollow</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="segment" *ngIf="!isLoading">
    <ion-segment (ionChange)="segmentChanged($event)" color="dark" mode="md" value="challenges">
      <ion-segment-button value="challenges">Challenges</ion-segment-button>
      <ion-segment-button value="responses">Responses</ion-segment-button>
      <ion-segment-button value="likes" [disabled]="!loadedData.likes || !likes.length">Likes</ion-segment-button>
    </ion-segment>

    <!-- Challenges Segment -->
    <div *ngIf="selectedSegment === 'challenges'">
      <div *ngIf="segmentLoading; else challengesList">
        <div class="segment-loading">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </div>
      <ng-template #challengesList>
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="4" *ngFor="let challenge of challenges; let i = index">
              <ion-card (click)="onChallengeClick(i)">
                <img [src]="challenge.thumbnailUrl || 'https://i.pinimg.com/originals/64/eb/ef/64ebefbbd558d77f1a1e0d01a4e050c1.png'" 
                     alt="Challenge Thumbnail" />
                <ion-icon 
                  *ngIf="challenge.challengeType === 1" 
                  name="videocam-outline" 
                  class="video-icon">
                </ion-icon>     
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </div>

    <!-- Responses Segment -->
    <div *ngIf="selectedSegment === 'responses'">
      <div *ngIf="segmentLoading; else responsesList">
        <div class="segment-loading">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </div>
      <ng-template #responsesList>
        <ion-grid>
          <ion-row>
            <ion-col size="4" *ngFor="let response of responses; let i = index">
              <ion-card (click)="onResponseClick(i)">
                <img [src]="response.thumbnailUrl || 'https://i.pinimg.com/originals/64/eb/ef/64ebefbbd558d77f1a1e0d01a4e050c1.png'"
                 alt="Response Thumbnail" />
                <ion-icon 
                  *ngIf="response.challengeType === 1" 
                  name="videocam-outline" 
                  class="video-icon">
                </ion-icon> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </div>

    <!-- Likes Segment -->
    <div *ngIf="selectedSegment === 'likes'">
      <div *ngIf="segmentLoading; else likesList">
        <div class="segment-loading">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </div>
      <ng-template #likesList>
        <ion-grid>
          <ion-row>
            <ion-col size="4" *ngFor="let like of likes">
              <ion-card>
                <img [src]="like.thumbnailUrl" alt="Like Thumbnail" />
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </div>
  </div>
</ion-content>
