.has-focus.input-fill-outline.ion-valid.sc-ion-input-md-h {
  --border-color: #b3b3b3;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 24px;
  margin-left: -40px; /* Adjust as needed to align with the search bar */
  cursor: pointer;
  color: var(--ion-color-primary); /* Set to match your theme */
}

.searchbar-input.sc-ion-searchbar-md{
  --padding-inline-start: 1rem !important;
}