<app-header></app-header>

<ion-content [fullscreen]="true">
    <swiper-container
    #swiper
    (afterinint)="swiperReady()"
    pager="true" ,
    loop="true",
    autoplay="true"
    class="first-slides"
  >
  <swiper-slide *ngFor="let slide of slides">
    <img src="{{slide.photo}}" />
  </swiper-slide>
</swiper-container>
    <div *ngFor="let trend of trends" class="ion-padding">
        <ion-row>
            <ion-col class="ion-text-left ion-align-self-center ion-tappable">
                <ion-label fixed class="hashtag">#</ion-label>
                <p><strong>{{trend.trendName}}</strong></p>
                <ion-label>
                    <p>Trending Hashtag</p>
                </ion-label>
            </ion-col>
            <ion-col class="ion-text-right ion-align-self-center ion-tappable">
                <ion-label class="count-view">{{trend.viewCounts}}
                    <ion-icon class="icon-view" name="chevron-forward-outline"></ion-icon>
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-slides class="trend-slides" [options]="optionsTrends">
            <ion-slide *ngFor="let profile of trend.trendProfiles">
                <img src="{{profile.photo}}"/>
            </ion-slide>
        </ion-slides>
    </div></ion-content>