ion-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

ion-tabs .bg-white {
  --background: white;
  --ion-color-base: white !important;
  position: absolute;
  bottom: 0px;
  width: 100%;
  --color: #afbbce;

  ion-label {
    color: black;
    font-weight: bold;
  }
}

ion-tabs .bg-transparent {
  --background: transparent;
  --ion-color-base: transparent !important;
  position: absolute;
  bottom: 0px;
  width: 100%;
  --color: #afbbce;

  ion-label {
    color: white;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  ion-label {
    display: none;
  }
}