ion-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.login-card {
  width: 90%; /* Adjust card width as needed */
  max-width: 400px; /* Set a max width for larger screens */
  padding: 20px; /* Add padding for the content */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optional shadow for the card */
  border-radius: 10px; /* Optional rounded corners */
  margin: auto;
  margin-top: 20vh;
  background: rgba(255, 255, 255, 0.5);
}

.card-header-text {
  text-align: center; /* Center the header text */
  font-size: 2.5em; /* Larger font size for the header */
  color: #000000; /* Primary color for the header */
  margin: 20px 0; /* Space above and below the header */
  font-weight: bolder;
}

.header-text {
  text-align: center; /* Center the header text */
  margin-bottom: 20px; /* Space between header and form */
}

.header-text h1 {
  font-size: 2.5em; /* Larger font size for the header */
  margin: 0; /* Remove default margin */
}

form {
  padding: 20px; /* Inner padding for form elements */
}

ion-list{
  background: none;
}

ion-input {
  --background: transparent; /* Set the background to transparent */
  --color: inherit; /* Inherit the text color from the parent */
  --placeholder-color: #888; /* Set a default placeholder color */
}

ion-item {
  --ion-item-background: transparent; /* Remove the background of the item */
  margin-bottom: 20px;
  font-weight: bold;
}

.login-button {
  background-color: #3880ff; /* Primary color for the button */
  color: white; /* White text for contrast */
}

.footer {
  text-align: right;
  margin-top: 10px;
}

.custom-link {
  color: #3880ff; /* Primary color for the link */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-decoration: none; /* Remove underline */
}

.custom-link:hover {
  text-decoration: underline; /* Underline on hover for interactivity */
}

.spinner-container {
  display: flex;              /* Use Flexbox to center the content */
  justify-content: center;    /* Center horizontally */
  align-items: center;        /* Center vertically */
  margin-top: 20px;          /* Add some spacing if needed */
}

::part(background) {
  background: url("https://media.istockphoto.com/id/1335420509/vector/colorful-versus-comic-style-background-with-lightning-and-halftone-effect.jpg?s=612x612&w=0&k=20&c=xJPYvjsEtJpZrFF1jjYa1q-u0XmaX7B6jlxXm7_1tcs=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: .7;
}