<div class="actions">
  <div>
    <ion-avatar class="avatar" (click)="goToProfile(video.userName)">
      <img [src]="video.imageUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
    </ion-avatar>
    <p></p>

  </div>
    <div>
      <ion-icon 
      [name]="video.isLiked ? 'heart' : 'heart-outline'" 
      class="heart-icon" 
      [ngClass]="{'filled': video.isLiked}" 
      (click)="likeChallenge(video.guid)">
    </ion-icon>
    <p>{{video.likesCount}}</p>
  </div>

  <div (click)="openComments(video.guid, challengeType)">
    <ion-icon id="chat-icon" name="chatbubble-outline"></ion-icon>
    <p>{{video.commentsCount}}</p>
  </div>

  <div (click)="openChallengeResponse()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </div>
</div>