ion-content {
    ion-list {
      ion-item {
        margin-bottom: 15px;
      }
    }
  
    ion-button {
      margin-top: 20px;
    }
  }

  .custom-link {
    cursor: pointer; /* Change cursor to pointer on hover */
  }