<ion-content>
  <div class="form-container">
    <ion-card class="register-card">
      <ion-card-header>
        <ion-card-title class="form-title">Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <ion-grid>
            <ion-row>
              <!-- Username Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Username</ion-label>
                  <ion-input formControlName="username" required></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
                  Username is required.
                </ion-note>
              </ion-col>

              <!-- Email Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input formControlName="email" type="email" required></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
                  Email is required.
                </ion-note>
                <ion-note color="danger" *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
                  Enter a valid email.
                </ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <!-- First Name Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">First Name</ion-label>
                  <ion-input formControlName="firstName" required></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched">
                  First Name is required.
                </ion-note>
              </ion-col>

              <!-- Last Name Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Last Name</ion-label>
                  <ion-input formControlName="lastName" required></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched">
                  Last Name is required.
                </ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <!-- Birthday Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Date of Birth</ion-label>
                  <ion-datetime-button datetime="datetime" [value]="registerForm.get('birthday').value" (click)="openDatePicker()"></ion-datetime-button>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('birthday')?.hasError('required') && registerForm.get('birthday')?.touched">
                  Birthday is required.
                </ion-note>
                <ion-note color="danger" *ngIf="registerForm.get('birthday')?.hasError('minAge') && registerForm.get('birthday')?.touched">
                  You must be at least 12 years old.
                </ion-note>
              </ion-col>

              <!-- Phone Number Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Phone Number</ion-label>
                  <ion-input type="tel" formControlName="phoneNumber" required></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('phoneNumber')?.hasError('required') && registerForm.get('phoneNumber')?.touched">
                  Phone number is required.
                </ion-note>
                <ion-note color="danger" *ngIf="registerForm.get('phoneNumber')?.hasError('pattern') && registerForm.get('phoneNumber')?.touched">
                  Enter a valid phone number.
                </ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <!-- Password Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Password</ion-label>
                  <ion-input formControlName="password" type="password" [clearOnEdit]="false" required></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                  Password is required.
                </ion-note>
                <ion-note color="danger" *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
                  Password must be at least 8 characters.
                </ion-note>
                <ion-note color="danger" *ngIf="registerForm.get('password')?.hasError('complexity') && registerForm.get('password')?.touched">
                  Password must contain at least one uppercase and one lowercase letter.
                </ion-note>
              </ion-col>

              <!-- Confirm Password Field -->
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="stacked">Confirm Password</ion-label>
                  <ion-input formControlName="confirmPassword" type="password" [clearOnEdit]="false" required></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched">
                  Confirm Password is required.
                </ion-note>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Profile Image</ion-label>
                  <input type="file" (change)="onFileSelected($event)" accept="image/*" />
                </ion-item>              
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button expand="full" type="submit" *ngIf="!isSubmitting">Register</ion-button>
          <div *ngIf="isSubmitting" class="spinner-container">
            <ion-spinner color="dark"></ion-spinner>
          </div>
          <div class="login-link" *ngIf="!isSubmitting">
            <p>Already have an account? <a routerLink="/login">Login</a></p>
          </div>

        </form>

        <ion-modal keepContentsMounted="true" [isOpen]="isDateModalOpen">
          <ng-template>
            <ion-datetime id="datetime" presentation="date" (ionChange)="onDateChange($event)"></ion-datetime>
            <ion-footer>
              <ion-button expand="full" (click)="closeDatePicker()">Done</ion-button>
            </ion-footer>
          </ng-template>
        </ion-modal>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
