<!-- <ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>
      <ion-text>Following | </ion-text>
      <strong>For You</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container class="swiper-v" #swiper direction="vertical">
      <swiper-slide *ngFor="let video of videoList">
        <swiper-container class="swiper-h" #swiper direction="horizontal">
            <swiper-slide>
              <video autoplay loop playsinline [src]="video.url" [muted]="'muted'"></video>
              <app-feed [video]="video"></app-feed>
              <app-footer [video]="video"></app-footer>
            </swiper-slide>
            <swiper-slide *ngFor="let response of video.responses">
              <video autoplay loop playsinline [src]="response.url" [muted]="'muted'"></video>
              <app-feed [video]="response"></app-feed>
              <app-footer [video]="response"></app-footer>
            </swiper-slide>
        </swiper-container>
      </swiper-slide>
  </swiper-container>
</ion-content> -->
<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>
      <ion-text>Following | </ion-text>
      <strong>For You</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container class="swiper-v" #outerSwiper direction="vertical">
      <swiper-slide *ngFor="let video of videoList">
        <swiper-container class="swiper-h" #innerSwiper direction="horizontal">
            <swiper-slide>
              <video autoplay loop playsinline [src]="video.url" [muted]="true"></video>
              <app-feed [video]="video"></app-feed>
              <app-footer [video]="video"></app-footer>
            </swiper-slide>
            <swiper-slide *ngFor="let response of video.responses">
              <video autoplay loop playsinline [src]="response.url" [muted]="true"></video>
              <app-feed [video]="response"></app-feed>
              <app-footer [video]="response"></app-footer>
            </swiper-slide>
        </swiper-container>
      </swiper-slide>
  </swiper-container>
</ion-content>
