<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>
      <ion-text></ion-text>
      <strong>For You</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container #outerSwiper class="swiper-v" direction="vertical">
    <swiper-slide *ngFor="let challenge of challenges">
      
      <swiper-container #innerSwiper class="swiper-h" direction="horizontal">
        
        <swiper-slide>
          <div class="video-wrapper">
            <video autoplay loop playsinline [src]="challenge.videoUrl" [muted]="true" [style.height]="videoHeight"></video>
            <app-feed [video]="challenge" [challengeGuid]="challenge.guid"></app-feed>
            <app-footer [video]="challenge"></app-footer>
          </div>
        </swiper-slide>
        
        <swiper-slide *ngFor="let response of challenge.responses">
          <div class="video-wrapper">
            <video autoplay loop playsinline [src]="response.videoUrl" [muted]="true" [style.height]="videoHeight"></video>
            <app-feed [video]="response" [challengeGuid]="challenge.guid"></app-feed>
            <app-footer [video]="response"></app-footer>
          </div>
        </swiper-slide>
        
      </swiper-container>
      
    </swiper-slide>
  </swiper-container>
</ion-content>
