<ion-content>
  <ion-refresher *ngIf="refreshEnabled" slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <swiper-container #outerSwiper class="swiper-v" direction="vertical" *ngIf="!isLoading" allowSlideNext=true (swiperslidechange)="slideChanged($event)">
    <swiper-slide *ngFor="let challenge of challenges; let i = index" >
      
      <swiper-container #innerSwiper class="swiper-h" direction="horizontal" (swiperslidechange)="innerslideChanged($event)">

        <swiper-slide class="slide-index-{{i}}">
          <div class="mute-indicator" [class.visible]="showMuteIcon">
            <ion-icon [name]="isMuted ? 'volume-mute' : 'volume-high'"></ion-icon>
          </div>
  
          <div class="video-wrapper">
            <div class="ion-text-center challenge-title">Main Challenge</div>
            <video 
            *ngIf="challenge.challengeType === 1"
            [muted]="true"
            class="outer-video-{{i}}"
            #videoElement
            loop 
            playsinline 
            [src]="challenge.videoUrl" 
            [style.height]="videoHeight" 
            (click)="toggleMute(videoElement)"
            id="{{i}}-0">
          </video>
          <img 
            *ngIf="challenge.challengeType === 2"
            [src]="challenge.videoUrl"
            [alt]="'Challenge Image'"
            [style.height]="videoHeight"
            class="challenge-image outer-image-{{i}}" 
            id="{{i}}-0"/>
            <app-feed [video]="challenge" [challengeGuid]="challenge.guid" [challengeType]="'CHALLENGE'"></app-feed>
            <app-footer [video]="challenge" [title]="'Main Challenge'"></app-footer>
          </div>
        </swiper-slide>

        <swiper-slide *ngFor="let response of challenge.responses; let r = index">
          <div class="mute-indicator" [class.visible]="showMuteIcon">
            <ion-icon [name]="isMuted ? 'volume-mute' : 'volume-high'"></ion-icon>
          </div>
  
          <div class="video-wrapper">
            <div class="ion-text-center challenge-title">Challenge Response</div>
            <video 
              *ngIf="response.challengeType === 1"
              loop 
              playsinline 
              [src]="response.videoUrl" 
              [muted]="true" 
              [style.height]="videoHeight" 
              id="{{i}}-{{r + 1}}" 
              #innerVideo 
              (click)="toggleMute(innerVideo)">
            </video>
            <img 
              *ngIf="response.challengeType === 2"
              [src]="response.videoUrl"
              [alt]="'response Image'"
              [style.height]="videoHeight"
              class="response-image inner-image-{{i}}" 
              id="{{i}}-{{r + 1}}"/>
            <app-feed [video]="response" [challengeGuid]="challenge.guid" [challengeType]="'CHALLENGE_RESPONSE'"></app-feed>
            <app-footer [video]="response" [title]="'Challenge Response'"></app-footer>
          </div>
        </swiper-slide>
      
      </swiper-container>
      
    </swiper-slide>
  </swiper-container>
</ion-content>
